.btn {
  color: white;
  background-color: rgb(96, 107, 133);
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 15px;

  font-size: 14px;
  font-weight: bold;
}

.btn:hover,
.btn:focus {
  background-color: rgb(99, 134, 148);
}
