.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px;
  width: 370px;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 7px;
  background: linear-gradient(to top, #5c6265, #738ca8, #c2afd5 100%);
}



.button {
  width: fit-content;
  padding: 5px 10px;
  background-color: #6a8893;
  color: white;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;

  
}

.button:hover,
.button:focus {
  background-color: #8a9cac;
  
}
