.link {
  display: inline-block;
  margin: 0 5 px;
  text-decoration: none;
  color: black;
}

.link:global(.active) {
  color: rgb(129, 172, 226);
  font-weight: bold;
}

.span {
  margin: 0px 10px;
}

